@charset "UTF-8";

ul, li, ol{
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
}

body div.LayoutMain{
	left: 500px;
	right: 0px;
	top: 50px;
	z-index: 1;
	position: absolute;
}

.LayoutMain div.main-toolbar{
	background-color: #f7f7f7;
	border-right: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	height: 30px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.LayoutMain .main-toolbar a.button{
	position: relative;
	height: 29px;
	line-height: 29px;
	margin: 0 5px;
	background: url(icon/button.png) no-repeat 0 -144px;
	outline: 0;
	padding-left: 15px;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 13px;
	font-weight: 400;	
	text-decoration: none;	
}

.LayoutMain .main-toolbar span.button{
	right: -1px;
	position: relative;
	height: 29px;
	line-height: 29px;
	background: url(icon/button.png) no-repeat right -144px;
	padding-right: 15px;
	display: inline-block;
	text-align: middle;	
}

.LayoutMain .main-toolbar .button em.icon{
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	width: 16px;
	margin-right: 4px;
}

.LayoutMain .main-toolbar .button em.upload{
	background: url(icon/upload.png) no-repeat;
}

.LayoutMain .main-toolbar .button em.download{
	background: url(icon/download.png) no-repeat;
}

.LayoutMain .main-toolbar .button em.folder{
	background: url(icon/folder.png) no-repeat;
}

.LayoutMain .main-toolbar .button em.delete{
	background: url(icon/delete.png) no-repeat;
}

.LayoutMain .main-toolbar .button em.rename{
	background: url(icon/rename.png) no-repeat;
}

.LayoutMain .main-toolbar .button em.copy{
	background: url(icon/copy.png) no-repeat;
}

.LayoutMain .main-toolbar .button em.move{
	background: url(icon/move.png) no-repeat;
}

.LayoutMain div.main-index{
	padding-left: 20px;
}

.LayoutMain .main-index div.index-header{
	z-index: 2;
	position: relative;
	overflow: visible;	
}

.index-header ul{
	height: 41px;
	line-height: 41px;
	background: #f7f7f7;
	border-radius: 2px;
	color: #888;
	border: 1px solid #d2d2d2;
	padding-left: 0;
	overflow: hidden;
}

.index-header .index-col{
	float: left;
	border-right: 1px solid #e5e5e5;
	cursor: pointer;
	text-indent: 10px;
}

.index-header .first-col{
	border-left: 0;
	text-indent: 0;
}

.index-header .last-col{
	border-right: 0;
}

.index-header .check{
	position: relative;
	width: 40px;
	height: 41px;
	float: left;
}

.index-header .check .check-icon{
	position: absolute;
	width: 20px;
	height: 20px;
	top: 10.5px;
	left: 10px;
	background: url(icon/check-blank.png) no-repeat;
}

body div.LayoutStatus{	
	z-index: 10;
	position: absolute;
	left: 0px;
	top: 50px;
	bottom: 0px;
	width: 480px;
	box-shadow: 3px 0 5px #333;
	padding-left: 10px;
	padding-right: 10px;
}

.LayoutStatus div.status-header{
	z-index: 11;
	position: relative;
	overflow: visible;	
}

.status-header ul{
	height: 41px;
	line-height: 41px;
	background: #f7f7f7;
	border-radius: 2px;
	color: #888;
	border: 1px solid #d2d2d2;
	padding-left: 0;
	overflow: hidden;
}

.status-header .status-col{
	float: left;
	border-right: 1px solid #e5e5e5;
	cursor: pointer;
	text-indent: 10px;
}

.status-header .first-col{
	border-left: 0;
}

.status-header .last-col{
	border-right: 0;
}

body div.LayoutBar{
	z-index: 20;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
	height: 50px;	
	background-color: #252525;	
	box-shadow: 0 0 5px #333;
}

.LayoutBar img.Logo{
	left: 30px;
	width: 60px;
	height: 40px;
	padding-top: 5px;
	position: absolute;
	float: left;
}

.LayoutBar form{
	left: 60%;
	top: 10px;
	height: 30px;
	position: absolute;
	float: left;
}

.LayoutBar input.search-query{
	width: 160px;
	height: 28px;
	border: 0;
	outline: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.LayoutBar input.search-button{
	width: ;
	height: 30px;
	border: 0;
	background: #ccc;
	padding-left: 4px;
	padding-right: 4px;
}