@charset "UTF-8";

html {

}

body.Sign{
	padding-top: 40px;
	padding-left: 40%;
}

form.SignInForm, form.SignUpForm{
	width: 300px;
	border-style: outset;
	border-width: thick;
	border-color: blue;
	border-radius: 25px 25px;
	background-color: white;
	background-origin: content-box;
	box-shadow: 5px 4px 10px 2px gray;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 15px;
	padding-bottom: 25px;
}

img.SignImg{
	width: 240px;
	height: 160px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

input.SignInput{
	width: 206px;
	height: 40px;
	margin-left: 30px;
	margin-right: 30px;
	padding-left: 15px;
	padding-right: 15px;
	border-width: 2px;
	border-style: inset;
	border-color: blue;
	border-radius: 15px 15px;
}

#SignButton{
	width: 240px;
	height: 40px;
	margin-left: 30px;
	margin-right: 30px;
	font-size: large;
}