@charset "UTF-8";

html {

}

body.Sign{
	padding-top: 40px;
	padding-left: 40%;
}

form.SignInForm, form.SignUpForm{
	width: 300px;
	border-style: outset;
	border-width: thick;
	border-color: blue;
	border-radius: 25px 25px;
	background-color: white;
	background-origin: content-box;
	box-shadow: 5px 4px 10px 2px grey;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 15px;
	padding-bottom: 25px;
}

img.SignImg{
	width: 240px;
	height: 160px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

input.SignInput{
	width: 206px;
	height: 40px;
	margin-left: 30px;
	margin-right: 30px;
	padding-left: 15px;
	padding-right: 15px;
	border-width: 2px;
	border-style: inset;
	border-color: blue;
	border-radius: 15px 15px;
}

#SignButton{
	width: 240px;
	height: 40px;
	margin-left: 30px;
	margin-right: 30px;
	font-size: larger;	
}

#SignButton:hover{
	animation-delay: 200ms;
	animation-duration: 550ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	animation-name: SignUpButton;
}

@keyframes SignUpButton{
	to{
		width: 240px;
		height: 40px;
		margin-left: 30px;
		margin-right: 30px;
		font-size: x-large;
		font-weight: bold;
		color: red;
	}
}

body > div > div.LayoutMain{
	left: 500px;
	right: 0px;
	top: 50px;
	z-index: 1;
	position: absolute;
}

body > div > div > div.main-toolbar{
	background-color: #f7f7f7;
	border-bottom: 1px solid #d2d2d2;
	height: 49px;
	padding-left: 20px;
}

body > div > div > div > a.button{
	padding-top: 10px;
	width: 100px;
}

body > div > div > div.main-index{
	padding-left: 20px;
	padding-top: 20px;
}

body > div > div.LayoutStatus{	
	color: black;
	left: 0px;
	top: 50px;
	bottom: 0px;
	width: 500px;
	box-shadow: 3px 0 5px #333;
	z-index: 10;
	position:  absolute;
	padding-top: 20px;
}

body > div > div.LayoutBar{
	color: white;
	background-color: #252525;	
	box-shadow: 0 0 5px #333;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
	height: 50px;
	z-index: 20;
	position: absolute;
	padding-left: 30px;
}